{#
/**
 * @file
 * Olivero's theme implementation for the menus in the primary_menu region.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link URL, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}

{% set attributes = attributes.addClass('navbar-nav') %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation" aria-label="Primary Navigation">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#primaryNavbar" aria-controls="primaryNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="primaryNavbar">
      {{ menus.menu_links(items, attributes, 0, 'primary-menu-item-') }}
    </div>
  </div>
</nav>

{% macro menu_links(items, attributes, menu_level, aria_id) %}
  {% import _self as menus %}
  {% if items %}
    <ul class="{{ menu_level == 0 ? 'navbar-nav me-auto mb-2 mb-lg-0' : 'dropdown-menu' }}">
      {% for item in items %}
        {% set has_children = item.below %}
        {% set is_active = item.in_active_trail %}
        {% set item_classes = [
          'nav-item',
          has_children ? 'dropdown',
          is_active ? 'active'
        ] %}
        {% set link_classes = [
          'nav-link',
          has_children and menu_level == 0 ? 'dropdown-toggle',
          is_active ? 'active'
        ] %}
        <li{{ item.attributes.addClass(item_classes) }}>
          {% set aria_id = (aria_id ~ loop.index)|clean_id %}
          {% set link_title %}
            <span>{{ item.title }}</span>
          {% endset %}

          {% if item.url.routeName == '<nolink>' %}
            <span class="nav-link disabled">{{ item.title }}</span>
          {% else %}
            {{ link(link_title, item.url, {
              'class': link_classes,
              'id': has_children ? aria_id : null,
              'data-bs-toggle': has_children and menu_level == 0 ? 'dropdown' : null,
              'aria-expanded': has_children ? 'false' : null,
              'aria-haspopup': has_children ? 'true' : null,
              'aria-controls': has_children ? aria_id : null
            }) }}
          {% endif %}

          {% if has_children %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1, aria_id) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

