{#
/**
 * @file
 * Olivero's theme implementation for the menus in the secondary_menu region.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link URL, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}

{# Add Bootstrap nav classes to the root UL #}
{% set attributes = attributes.addClass('nav', 'flex-column') %}
<nav aria-label="Secondary Navigation">
  {{ menus.menu_links(items, attributes, 0) }}
</nav>

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    <ul{{ attributes.addClass(menu_level > 0 ? 'dropdown-menu' : 'nav') }}>
      {% set attributes = attributes.removeClass('dropdown-menu') %}
      {% for item in items %}
        {% set has_children = item.below %}
        {% set is_active = item.in_active_trail %}
        {% set menu_item_type = item.url.routeName == '<nolink>' ? 'nolink' : (item.url.routeName == '<button>' ? 'button' : 'link') %}

        {% set item_classes = [
          'nav-item',
          has_children ? 'dropdown',
          is_active ? 'active'
        ] %}

        {% set link_classes = [
          'nav-link',
          has_children and menu_level == 0 ? 'dropdown-toggle',
          is_active ? 'active'
        ] %}

        <li{{ item.attributes.addClass(item_classes) }}>
          {% set aria_id = ('secondary-menu-item-' ~ loop.index)|clean_id %}
          {% set link_title %}
            <span>{{ item.title }}</span>
          {% endset %}

          {% if menu_item_type == 'nolink' %}
            <span class="nav-link disabled" aria-disabled="true">{{ item.title }}</span>

          {% elseif menu_item_type == 'button' %}
            <button class="nav-link btn" type="button" aria-label="{{ item.title }}">{{ item.title }}</button>

          {% else %}
            {{ link(link_title, item.url, {
              'class': link_classes,
              'id': has_children ? aria_id : null,
              'data-bs-toggle': has_children and menu_level == 0 ? 'dropdown' : null,
              'aria-expanded': has_children ? 'false' : null,
              'aria-haspopup': has_children ? 'true' : null,
              'aria-controls': has_children ? aria_id : null
            }) }}
          {% endif %}

          {% if has_children %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
